<h1>Recording new sighting</h1>

<p><%= link_to "Cancel", leprechauns_path	 %></p>

<%= form_for @leprechaun do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :Gold %>
  <%= f.text_field :gold_count %>

  <%= f.label :height %>
  <%= f.text_field :height %>

  <%= f.submit %>

<% end %>